textarea {
    height: 80px;
}

#message {
   position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    padding: 6px 10px;
    border-style: solid;
    border-width: 2px;
}

.error {
    background-color: #e89e66;
    border-color: #d95e00;
}

.success {
    background-color: #c8cba6;
    border-color: #a3a86b;
}

.tag {
    margin: 1px;
    background-color: #acdee6;
    padding-left: 2px;
}

.label {
    display: inline-block;
    min-width: 100px;
}

.dark {
    padding: 5px;
    margin-bottom: 0;
    background-color: #d7e0eb;
}

.light {
    margin-top: 0;
    padding: 5px;
    background-color: #ebf0f5;
}

input[type="text"].narrow {
    width: 6em;
}

.hidden {
    display: none;
}

form {
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
}

td, th {
    text-align: left;
    vertical-align: top;
    min-width: 10px;
    padding: 2px 5px;
}

td.available {
    background-color: #a3a86b;
}

td.status, th.status {
    width: 5px;
}

td.on_loan, td.active_loan {
    background-color: #acdee6;
}

td.inactive_loan {
    background-color: #cdebf0;
}

td.overdue, td.overdue_loan {
    background-color: #d95e00;
}

td.discarded {
    background-color: #a0a0a0;
}

td.service, td.active_service, td.inactive_service {
    background-color: #e7e08d;
}

tbody tr {
    background-color: #d7e0eb;
}

tbody tr:nth-child(odd) {
    background-color: #ebf0f5;
}

thead th, tfoot tr {
    background-color: #c3d1e2;
}

thead th:nth-child(2),
thead th:nth-last-child(-n+2) {
   word-break: break-word;
}

input:disabled, textarea:disabled {
    background-color: #ededed;
}

input[type="text"].newtag,
input[type="text"].newfield {
    width: 11.5em;
}

input[type="text"].newtemplate {
    width: 8em;
}

.minibutton {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-image: url(images/button-background-repeater.gif);
    background-position: left;
    background-repeat: repeat-x;
    padding-right: 2px;
    padding-left: 2px;
}

.tagremove, .termremove {
    background-color: #e17e33;
    padding-left: 2px;
    padding-right: 2px;
    color: white;
}

.tagremove:hover, .termremove:hover {
    cursor: pointer;
    color: white;
}

.term {
    background-color: #ebf0f5;
    margin: 5px;
    padding-left: 2px;
}

.qr {
    margin: 0 10px;
    padding: 5px;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
    font-size: 120%;
}

@media print {
    .qr {
        border: none;
    }
}

.qr > a:link, .qr > a:visited {
    color: black;
    text-decoration: none;
}

.qr > a > * {
    display: block;
    margin: 0 auto;
}
