textarea {
    height: 80px;
}

#message {
   position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    padding: 6px 10px;
    border-style: solid;
    border-width: 2px;
}

.error {
    background-color: #e89e66;
    border-color: #d95e00;
}

.success {
    background-color: #c8cba6;
    border-color: #a3a86b;
}

.tag {
    margin: 1px;
    background-color: #acdee6;
    padding-left: 2px;
}

.label {
    display: inline-block;
    min-width: 100px;
}

.dark {
    padding: 5px;
    margin-bottom: 0;
    background-color: #d7e0eb;
}

.light {
    margin-top: 0;
    padding: 5px;
    background-color: #ebf0f5;
}

.narrow {
    width: 6em !important;
}

.hidden {
    display: none;
}

form {
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
}

td, th {
    text-align: left;
    vertical-align: top;
    min-width: 10px;
    padding: 2px 5px;;
}

td.available {
    background-color: #a3a86b;
}

td.on_loan {
    background-color: #acdee6;
}

td.overdue {
    background-color: #d95e00;
}

tbody tr {
    background-color: #d7e0eb;
}

tbody tr:nth-child(odd) {
    background-color: #ebf0f5;
}

thead th, tfoot tr {
    background-color: #c3d1e2;
}

input:disabled {
    background-color: #ededed;
}

.newtag, .newfield {
    width: 11.5em !important;
}

.minibutton {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-image: url(images/button-background-repeater.gif);
    background-position: left;
    background-repeat: repeat-x;
    color: white !important;
    padding-right: 2px;
    padding-left: 2px;
}

.tagremove {
    background-color: #e17e33;
    padding-left: 2px;
    padding-right: 2px;
    color: white;
}

.tagremove:hover {
    cursor: pointer;
    color: white;
}
